.container

	%h1 Use the pomegranate-cli gem to create tutorial steps out of your git commits. Then push and refresh this page.

	%p First install the command-line interface gem:

	%code gem install pomegranate-cli

	%p Then in the root directory of your repo, type:
	
	%span 
		%code $ pomegranate init

	%p Then you will be shown your commits. Select those you wish to become your tutorial steps. Give an instruction to your students for each one.

	%p If you wish to change your commits and/or instructions, type:

	%span
		%code $ pomegranate edit

	%p Once your file has been written, push to Github and refresh this page. You should find that your repo is now an interactive tutorial.