.container{:"ng-controller" => "TutorialsNewCtrl"}

  %input.form-control{:"ng-model" => "searchRepo"}

  %div{href:'#', :"ng-repeat" => "repo in repos | filter:searchRepo", :"ng-controller" => "RepoInstanceCtrl"} 
    %h3
      %a{href: '#', :"ng-click" => "showOptionsFor(repo)", "data-target" => "#myModal", "data-toggle" => "modal"} {{repo.name}}
      %span
        %small {{repo.description}}

    %div{:"ng-show" => "selectedRepo == repo"}
      = render 'form'

