.container.col-md-12{:"ng-controller" => "TutorialShowCtrl"}

	/ %input#source-code{:"ng-model" => "source", style: "margin-left: -999999999px"}

	.row
		.code-container.col-md-6

			%h2.text-center Test Code
			.code-here
				%ui-codemirror.test-code{:"ng-model" => "test", :"ui-codemirror-opts" => "editorOptions"}

		.code-container.col-md-6
			%h2.text-center Source Code
			.code-here
				%ui-codemirror.code-here.source-code{:"ng-model" => "source", :"ui-codemirror-opts" => "editorOptions", name: "Source Code" }
		
	.row{:"ng-hide" => "tutorialComplete"}
		%button.btn.btn-default.submit-code.center-block{:"ng-click" => "submitCommand($event)", :"ng-disabled" => "!source || !test"} Submit!
		%button.btn.btn-default.next.center-block{:"ng-disabled" => "!enableProgress", :"ng-click" => "goToNextStep()"} Next
	.row{:"ng-show" => "tutorialComplete"}
		%h2.text-center {{tutorialComplete}}

	.row
		.col-md-3
		.col-md-6
			%h5.text-center{:"ng-hide" => "tutorialComplete"} {{instruction}}
			%h3.text-center{:"ng-show" => "totalSteps"} Step {{stepNumber}} of {{totalSteps}}
			.results.col-md-12
				%h5 {{results.summary_line || results.exception}}

				%ul
					%li{:"ng-repeat" => "example in results.examples", :"ng-class" => "{'failed': example.status == 'failed', 'passed': example.status == 'passed'}"}
						{{example.full_description}}
						%ul{:"ng-show" => "example.status == 'failed'"}
							%li {{example.exception.class}} : {{example.exception.message}}
		.col-md-3
